
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #f8f8f8;
        }
        .navbar ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        .navbar ul li {
            margin-right: 20px;
        }
        .navbar button {
            padding: 10px 20px;
            margin-left: 10px;
            background-color:rgb(177 229 14 );
            border-radius: 5px;
            border: none;
            height: 50px;
            font-size: 16px;
 
        }


        /* second style */
        .sec{
            display: flex;
        }
        .first{
            width: 50%;
            
        }
        .first img{
            height: 80%;
            padding-top: 50px;
            padding-left: 50px;
        }
        .second{
            width: 50%;
            padding-top: 60px;
            
        }
        .second h5{
            font-size: 25px;
        }
        .second p{
            color: rgb(73 75 87);
            font-size: 20px;
            align-items: center;
          
        }

        /* third - why it is matter */

        .heading{
            font-size: 35px;
            padding-left: 30px;
        }

        .matter{
            display: flex;

        }
        .m1{
            width: 25%;
            margin: 20px;
            padding: 10px;
            font-size: 18px;
            color: rgb(73 75 87);
        }



